<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Witajcie w rodzinie {{ family }}</h1>
<br>
<br>
<h3>Odnajdź swoich przodków </h3>
<form action="{% url 'search_results' %}" method="get">
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" placeholder="Name or second name...">

    <button>Search</button>
</form>
<br>
<br>
<h3>Bądź na bierząco: </h3>
<br>
<h4>Dzisiaj imieniny obchodzi: </h4>
<p>Someone</p>
<br>
<h4>Rocznica śmierci</h4>
<p>Someone</p>

<h3>Ostatnio dodani</h3>
<p>1. Someone</p>
<p>2. Someone</p>
<p>3. Someone</p>
<p>4. Someone</p>
<p>5. Someone</p>
<br>
<h3>Ilość wszystkich : 22222222222</h3>
<br>
<h3>Pomóż w: osoby </h3>










</body>
</html>