{% extends "member/base.html" %}
{% load own_tags %}

{% block content %}

<main class="container">

</main>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>{% family_quote%}</p>
      </blockquote>
    </figure>
    <h1>Witajcie w rodzinie {{ family }}</h1>
    <br>
    <br>
    <h3>Odnajdź swoich przodków </h3>
    <form action="{% url 'search_results' %}" method="get">
        <label for="site-search">Search the site:</label>
        <input type="search" id="site-search" name="q" placeholder="Name or second name...">

        <button>Search</button>
    </form>
    <br>
    <br>
    <h3>Bądź na bierząco: </h3>
    <br>
    <h4>Dzisiaj imieniny obchodzi: </h4>
    <p>Someone</p>
    <br>
    <h4>Rocznica śmierci</h4>
    <p>Someone</p>
    <h3>Last add person: </h3>
    {% for person in last_create_members %}
        <p>{{ person }}</p>
    {% endfor %}

    <br>
    <h3>Ilość wszystkich : {% count_members %}</h3>
    <br>
    <h3>Pomóż w: osoby </h3>


{% endblock %}