{% extends "member/base.html" %}
{% load own_tags %}

{% block title %}Home{% endblock %}
{% block content %}

<main class="container">
    <br><br>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>{% family_quote%}</p>
      </blockquote>
    </figure>

    <br><hr><br>
    <h1 class="text-center">Welcome to the website about the {{ family }} family. </h1>
    <br><hr><br>
    <h3 class="text-center">Find your ancestor.</h3>
    <form action="{% url 'search_results' %}" method="get" class="text-center">
        <label for="site-search">Search the site:</label>
        <input type="search" id="site-search" name="q" placeholder="Name or second name...">
        <button>Search</button>
    </form>
    <h3 class="text-center">We have {% count_members %} members.</h3>
    <br><hr><br>
    <h3 class="text-center">Last added: </h3>
    <ul class="list-group">
    {% for person in last_create_members %}
        <a href="{{ person.get_absolute_url }}" class="list-group-item">
            {{ person }}
        </a>
    {% endfor %}
    </ul>
    <br><hr><br>


</main>

{% endblock %}